/* General Rules */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.color-white{
    color: white;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.col-12{
    width: 100%;
}

.col-8{
    width: calc( ( 100% / 12 ) * 8 );
}

.col-7{
    width: calc( ( 100% / 12 ) * 7 );
}

.col-6{
    width: calc( ( 100% / 12 ) * 6 );
}

.col-4{
    width: calc( ( 100% / 12 ) * 4 );
}

.col-3{
    width: calc( ( 100% / 12 ) * 3 );
}

.col-2special{
    width: calc( 100% / 5 );
}

.col-2{
    width: calc( ( 100% / 12 ) * 2 );
}

nav{
    display: inline-block;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: currentColor;
}


.button{
    background-color: #0061FF;
    color: white;
    padding: 6px 15px;
    display: inline-block
}

.special-button{
    background-color: white;
    color: black;
}

.color-grey{
    color: grey;
}

.center{
    text-align: center;
}

.button.special-button:hover{
    background-color: #0061FF;
    border-color: #0061FF;
    color: white;
}


/* Header Rules */

header{
    padding: 10px 20px;
    background-color: white;
}

header img{
    max-height: 30px;
    vertical-align: middle;
}

header ul li{
    margin: 0px 20px;
    vertical-align: middle;
    font-size: 16px;
    padding: 5px 20px;
}

.header-left, .header-right{
    max-width: 50%;
    vertical-align: middle;
}

header .button{
    display: inline-block;
    margin-left: 30px;
}

header nav ul li:hover{
    color: white;
    background-color: #0061FF;
}


/* Main Rules */


/* section1 */

main section:first-child{
    background-color: #B4D0E7;
}

main h1{
    font-size: calc( 3vh + 30px );
    margin-bottom: 40px;
}

main .col-8:first-child{
    margin: 0 auto;
}

.img-jumbo img{
    width: 100%;
}

.img-jumbo{
    display: inline-block;
    margin-bottom: -60px;
}

main .button{
    margin: 30px 0 15px 0;
}

.jumbo-icon-arrow{
    margin-top: 30px;
    margin-bottom: 20px;
}


/* section 2 */

main .col-7{
    margin: 0 auto;
}

main h2:first-child{
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 32px;
}

main .radio-box{
    margin-bottom: 30px;
}

main .radio-box #fatturazione_ann{
    margin-left: 20px;
}

#fatturazione_mens,#fatturazione_ann{
    vertical-align: middle;
}

main .header-table{
    border: 1px solid #D5D5D7;
    text-align: center;
    padding: 5px;
    font-weight: 16px;
}

main .main-table{
    padding: 25px 15px;
    border-left: 1px solid #D5D5D7;
    border-right: 1px solid #D5D5D7;
}

main .main-table .button{
    text-align: center;
    width: 100%;
    font-size: 13px;
}

.special-ancor{
    text-decoration: underline;
    color: #0C69FF;
}

main .main-table:not(.main-table:last-child)::after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    margin-top: 20px;
    padding-right: 20px;
    background-color: #D5D5D7;
}

.footer-table{
    height: 300px;
    max-height: 700px;
    padding: 0 15px 25px 15px;
    border-left: 1px solid #D5D5D7;
    border-right: 1px solid #D5D5D7;
    border-bottom: 1px solid #D5D5D7;
}

.main-table li, .footer-table li{
    padding: 5px;
}

.main-table h3, .main-table p{
    margin-bottom: 20px;
}

.main-table h4{
    margin-bottom: 10px;
}

main .container-table{
    padding-right: 40px;
}

.fas.fa-check{
    color: #438AFF;
}

.container-table.large-table{
    margin-top: 40px;
    margin-bottom: 120px;
}

.large-table .main-table{
    position: relative;
    border-bottom: 1px solid #D5D5D7;
    padding-bottom: 0px;
}

.large-table .main-table .button{
    position: absolute;
    width: 230px;
    top: 0;
    right: 20px;
}


/* section 3 */

.big-img-left img{
    max-width: 100%;
}

.text-container{
    padding: 30px 0 0 30px;
    font-size: 16px;
}

.text-container h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.text-container .button.special-button{
    border: 1px solid black;
}


/* section 4 */

.card-section h2{
    font-size: 26px;
}

.card .img-card img{
    width: 100%;
}

.card .title-card{
    font-size: 20px;
    margin-bottom: 20px;
}

.card .card-text a{
    text-decoration: underline;
}

.card-section .card{
    padding-left: 30px;
}

.card {
    margin-bottom: 60px;
}


/* section 5 */

.team-title{
    padding: 120px 0 40px 0;
}

.team-title h3{
    font-size: 26px;
}

.team-title .special-ancor{
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
}

.team-brand .col-6 img{
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
}

.team-brand .col-6{
    line-height: calc( 362px / 2 );
}

.team-brand .col-4:nth-child(2){
    height: 362px;
    padding: 30px;
}

.invert-color{
    filter: invert();
}

.team-bkg-1{
    background-color: #A2D39B;
}

.team-bkg-2{
    background-color: #61082B;
}

.team-bkg-3{
    background-color: #0093CE;
}

.team-bkg-4{
    background-color: #FF1C1C;
}

.team-bkg-5{
    background-color: #F5F5F5;
}

.team-bkg-6{
    background-color: #D5001F;
}

.team-bkg-7{
    background-color: #B4D0E7;
}

.team-bkg-8{
    background-color: #0D2481;
}

.team-bkg-9{
    background-color: #FFD830;
}

.team-bkg-5 img{
    width: 35%;
}

main .team-bkg-5 p{
    margin-bottom: 30px;
    font-size: 14px;
}

.team-bkg-5 .color-grey{
    color: lightgray;
    font-size: 20px;
}


/* section 6 */

.bkg-prova-dropbox{
    background-color: #B4D0E7;
    height: 250px;
}

.bkg-prova-dropbox h3{
    font-size: 32px;
    vertical-align: middle;
    color: #61082B;
}

.text-container-prova-dropbox{
    display: inline-block;
    margin-top: 90px;
}

.text-container-prova-dropbox:last-child{
    margin-top: 70px;
    text-align: right;
}

.text-container-prova-dropbox .button.special-button{
    padding: 6px 45px;
}


/* section 7 */

.title-question{
    font-size: 26px;
    margin-top: 70px;
    margin-bottom: 10px;
}

main #frequent-question::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0 20px 0;
    background-color: #DEDEE0;
}

main .question::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0 20px 0;
    background-color: #DEDEE0;
}

main .question{
    width: 100%;
}

main .question span{
    margin-right: 30px;
}

#frequent-question .hidden-question{
display: none
}

#frequent-question .question:hover .hidden-question{
display: block;
margin: 20px 0 0 -1px;
}

#frequent-question{
    margin-bottom: 60px;
}


/* Footer Rules */

footer{
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
}

footer ul li{
    display: block;
    margin-top: 10px;
}

footer ul li a:hover{
    color: #0061FF;
}

footer ul li h3{
    margin-bottom: 20px;
    font-size: 20px;
}

footer .col-8{
    margin: 0 auto;
}

footer span{
    margin: 50px 0 30px 0;
    display: inline-block;
}

footer select{
    display: block;
    background-color: black;
    border-color: black;
    color: grey;
}