/* General Rules */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.col-12{
    width: 100%;
}

.col-8{
    width: calc( ( 100% / 12 ) * 8 );
}

.col-7{
    width: calc( ( 100% / 12 ) * 7 );
}

.col-6{
    width: calc( ( 100% / 12 ) * 6 );
}

.col-4{
    width: calc( ( 100% / 12 ) * 4 );
}

.col-3{
    width: calc( ( 100% / 12 ) * 3 );
}

nav{
    display: inline-block;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: currentColor;
}


.button{
    background-color: #0061FF;
    color: white;
    padding: 6px 15px;
    display: inline-block
}

/* Header Rules */

header{
    padding: 20px 15px;
    height: 60px;
    background-color: white;
}

header img{
    max-height: 30px;
    vertical-align: middle;
}

header ul li{
    margin: 0px 20px;
    vertical-align: middle;
    font-size: 16px;
}

.header-left, .header-right{
    max-width: 50%;
    vertical-align: middle;
}

header .button{
    display: inline-block;
    margin-left: 30px;
}


/* Main Rules */


/* section1 */

main section:first-child{
    background-color: #B4D0E7;
}

main h1{
    font-size: calc( 3vh + 30px );
    margin-bottom: 40px;
}

main .col-8:first-child{
    margin: 0 auto;
}

.img-jumbo img{
    width: 100%;
}

.img-jumbo{
    display: inline-block;
    margin-bottom: -60px;
}

main .button{
    margin: 30px 0 15px 0;
}

main .col-7{
    margin: 0 auto;
}

main h2:first-child{
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 32px;
}

main .radio-box{
    margin-bottom: 30px;
}

main .radio-box #fatturazione_ann{
    margin-left: 20px;
}

#fatturazione_mens,#fatturazione_ann{
    vertical-align: middle;
}

main .header-table{
    border: 1px solid #D5D5D7;
    text-align: center;
    padding: 5px;
    font-weight: 16px;
}

main .table{
    padding: 25px 15px;
    border: 1px solid #D5D5D7;
}

main .table .button{
    text-align: center;
    padding: 6px 30px;
    font-size: 13px;
}

.special-ancor{
    text-decoration: underline;
    color: rgb(67, 141, 168);
}

/* DA CHIEDERE */
/* main .table::after{
    width: 40px;
    padding-right: 20px;
    border: 1px solid #D5D5D7;
} */

.table.table-long{
    height: 300px;
    max-height: 700px;
}

/* DA CHIEDERE */
/* .table ul li{
    line-height: 20px;
} */

.table li{
    padding: 5px;
}

main .container-table{
    padding-right: 40px;
}

.fas.fa-check{
    color: #438AFF;
}

.container-table.large-table{
    margin-top: 40px;
    margin-bottom: 50px;
}

.large-table.table{
    position: relative;
}

.large-table.button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.big-img-left img{
    max-width: 100%;
}